body {
  margin-top: 100px;
}

.vertical-container
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 1px;
  padding-right: 1px;
}

.has-error
{
  color: #00AA00;
}

.padded-group
{
  margin-top: 30px;
  margin-bottom: 30px;
}

.padded-group-tight
{
  margin-top: 10px;
  margin-bottom: 1  0px;
}
