<div class="container">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">8 Bit</a></li>
        <li role="presentation"><a href="#">16 Bit</a></li>
        <li role="presentation"><a href="#">32 Bit</a></li>
        <li role="presentation"><a href="#">64 Bit</a></li>
    </ul>
    <input-section [inputNumber]="inputNumber">
    </input-section>

<div class="row padded-group">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padded-group">
		<button type="button" class="btn btn-info btn-lg btn-block">Load</button>
	</div>
</div>

</div>